ul.saved-places {
    width: 420px;
    height: 500px;
    overflow: scroll;
    list-style:none outside;
    padding: 0;
    font-family: Arial;
}
li.item:hover {
    background-color: rgba(255, 185, 91, 0.71);
}
li.item {
    list-style:none;
}
li.item:first-child {
    border-top: 1px solid black;
}
li.item {
    border: 1px solid black;
    border-top: 0;
    width: 400px;
    height: 140px;
}
.image-item img {
    border:0;
    float: left;
    margin: 10px;
    width: 120px;
    height: 120px;
}

.content-item {
    float: right;
    margin-top: 12px;
    margin-right: 15px;
    width: 230px;
    height: 75px;
}

.header-content {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 17px;
}
.header-content a {
    text-decoration: none;
}
a:visited {
    color: black;
}
.body-content {
    margin-bottom: 0;
    margin-top: 8px;
    padding: 0;
    font-size: 14px;
    line-height: 1.4;
}
.footer-content {
    width: 235px;
    margin-top: 13px;
    margin-right: 15px;
    float: right;
    height: 31px;
    font-size: 13px;
}
.footer-content a {
    text-decoration: none;
    color: grey;
}
.logo-content{
    width: 30px;
    height: 30px;
}

.delete-icon {
    float: right;
    margin-top: 11px;
    width: 20px;
    height: 20px;
}
